@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full h-full m-0 bg-gray-100 font-mono;
  @apply flex justify-center;
}

#app {
  @apply px-4 mt-5;
}

.calendar {
  @apply relative bg-white rounded-t-2xl overflow-hidden w-full shadow-lg;
}

.week,
.days {
  @apply grid grid-cols-7;
}

.cell {
  @apply inline-block border w-10 text-xs sm:w-16 2xl:w-20 sm:text-base;

  &.date-cell {
    @apply relative p-2 h-10 sm:h-16 2xl:h-24;

    &.active {
      @apply border-blue-400;
    }

    &.prev-month {
      @apply text-gray-300;
    }
  }

  &.week-cell {
    @apply px-4 py-2 flex justify-center font-bold;
  }
}

.hero {
  @apply relative h-32 md:h-40 2xl:h-56 bg-center bg-no-repeat bg-cover;

  background-image: url('https://picsum.photos/400/300?random=1');

  &::after {
    content: '';

    @apply absolute inset-0 bg-black bg-opacity-40;
  }

  .title {
    @apply absolute inset-0 z-10;
    @apply text-3xl sm:text-6xl text-white font-bold flex justify-center items-center;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: cadetblue;
  }
}

.tag {
  @apply absolute top-0 left-0;
  @apply w-2 h-1   transition-all duration-300 z-20;

  &.emergency {
    @apply bg-red-400;
  }

  &.normal {
    @apply bg-green-600;
  }
}

.panel {
  @apply w-0 h-0  absolute transition-all duration-300 z-20 overflow-hidden;

  &.emergency {
    @apply bg-red-200;
  }

  &.normal {
    @apply bg-green-200;
  }

  &.active {
    @apply rounded-none cursor-default w-full h-full p-2;

    left: 0 !important;
    top: 0 !important;

    ul {
      @apply pl-2;
    }
  }

  ul {
    @apply opacity-0 list-disc font-bold;

    animation: fade-in 2s forwards;
  }
}

@keyframes fade-in {
  0% {
    @apply opacity-0;
  }

  100% {
    @apply opacity-100;
  }
}
